extends layout

block content
  div.container
    h1= title
    p Welcome to #{title}! 😉

    ul.quote-list
      each quote in quotes
        li.quote-item
          a(href=`/quotes/${quote.id}`)
            p.quote "#{quote.quote}"
            p.source #{quote.source}

